@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --main-color: #e88b0f;
    --black: #000;
    --light-color: #868e96;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

::selection {
    background: var(--main-color);
    color: #fff;
}

::html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #fafafa;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}

section {
    padding: 2rem 9%;
}

.heading {
    font-size: 4rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: var(--black);
    text-transform: uppercase;
}

.heading span {
    text-transform: uppercase;
    color: var(--main-color);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    background: #fff;
    font-weight: 500;
    cursor: pointer;
    color: var(--main-color);
    font-size: 1.7rem;
}

.btn:hover {
    background: var(--main-color);
    color: #fff;
    letter-spacing: 0.1rem;
}

/* CSS styles for the membership details section */

body {
    background-image: url('pics/mp bg.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
}

.membership-prices {
    padding: 2rem 9%;
}

.membership-details-title {
    font-size: 4rem;
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--black);
    text-transform: uppercase;
}

.membership-details-title span {
    text-transform: uppercase;
    color: var(--main-color);
}

.membership-prices h1 {
    font-size: 4rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: var(--black);
    text-transform: uppercase;
}

.membership-prices h1 span {
    text-transform: uppercase;
    color: var(--main-color);
}

.membership-prices h2 {
    text-align: center;
    padding: 2rem 0;
    color: var(--main-color); 
    text-transform: uppercase;
}

.membership-prices h2 span {
    text-transform: uppercase;
    color: #fff; 
}

.membership-prices {
    margin: 20px auto;
    padding: 0 20px;
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.membership-prices th,
.membership-prices td {
    padding: 10px 20px;
    text-align: left;
    background-color: #fff; /* Set the background color of the table cells to solid white */
}

.membership-prices thead {
    background-color: var(--main-color);
    color: #000;
}

.membership-prices tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.membership-prices tbody tr:hover {
    background-color: var(--light-color);
}

